/* bitter-300 - cyrillic */
@font-face {
  font-family: "Bitter";
  font-style: normal;
  font-weight: 300;
  src: local(""), url("../fonts/bitter-v28-cyrillic-300.woff2") format("woff2"), url("../fonts/bitter-v28-cyrillic-300.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* bitter-regular - cyrillic */
@font-face {
  font-family: "Bitter";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/bitter-v28-cyrillic-regular.woff2") format("woff2"), url("../fonts/bitter-v28-cyrillic-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* bitter-600 - cyrillic */
@font-face {
  font-family: "Bitter";
  font-style: normal;
  font-weight: 600;
  src: local(""), url("../fonts/bitter-v28-cyrillic-600.woff2") format("woff2"), url("../fonts/bitter-v28-cyrillic-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* bitter-500 - cyrillic */
@font-face {
  font-family: "Bitter";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/bitter-v28-cyrillic-500.woff2") format("woff2"), url("../fonts/bitter-v28-cyrillic-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* bitter-700 - cyrillic */
@font-face {
  font-family: "Bitter";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/bitter-v28-cyrillic-700.woff2") format("woff2"), url("../fonts/bitter-v28-cyrillic-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "Bitter";
  background-color: rgb(249, 248, 248);
}

img {
  width: 100%;
  height: auto;
}

ul,
ol {
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

.container {
  width: 100%;
  max-width: 1360px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
  display: inline-block;
}

main {
  background-image: url("../img/bg.png");
}

.header-cap {
  padding: 13px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 181px;
  background-color: rgb(249, 248, 248);
}

.list-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cap-item__link {
  position: relative;
  font-family: "Bitter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
  padding-left: 23px;
}
.cap-item__link:hover {
  color: #ffbd54;
}
.cap-item__link:active {
  color: #333333;
  opacity: 0.6;
}

.cap-item__link::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 13px;
  background-image: url("../../img/house.svg");
  background-repeat: no-repeat;
  left: 0;
}

.cap-item2__link {
  position: relative;
  font-family: "Bitter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
  padding-left: 23px;
}
.cap-item2__link:hover {
  color: #ffbd54;
}
.cap-item2__link:active {
  color: #333333;
  opacity: 0.6;
}
.cap-item2__link::before {
  content: "";
  position: absolute;
  height: 13px;
  width: 13px;
  background-image: url("../../img/phone.svg");
  background-repeat: no-repeat;
  left: 0;
}

.cap-item3__link {
  position: relative;
  padding-left: 13px;
}

.cap-item3__link::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #ffbd54;
  top: 0;
  bottom: 0;
  margin: auto 0;
  left: 0;
}

.cap-item3__link {
  font-family: "Bitter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
}
.cap-item3__link:hover {
  color: #ffbd54;
}
.cap-item3__link:active {
  color: #333333;
  opacity: 0.6;
}

.cap-item4__text {
  position: relative;
  padding-left: 21px;
  font-family: "Bitter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
}
.cap-item4__text:hover {
  color: #ffbd54;
}
.cap-item4__text:active {
  color: #333333;
  opacity: 0.6;
}

.cap-item4__text::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  background-image: url("../../img/kalendar.svg");
  background-repeat: no-repeat;
  top: 0;
  bottom: 0;
  margin: auto 0;
  left: 0;
}

.cap-item5__text {
  font-family: "Bitter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
}
.cap-item5__text:hover {
  color: #ffbd54;
}
.cap-item5__text:active {
  color: #333333;
  opacity: 0.6;
}

.header-cap__list {
  margin-right: 9px;
}

.header-cap__list3 {
  margin-left: 9px;
}

.header-cap__list4 {
  margin-right: 17px;
}

.site-header {
  background-color: rgb(255, 255, 255);
}

.site-header__container {
  padding-left: 292px;
  position: relative;
}

.site-header__logo {
  position: absolute;
  width: 177px;
  height: 87px;
  top: -21px;
  left: 0;
}
.site-header__logo:hover {
  opacity: 0.8;
}
.site-header__logo:active {
  opacity: 0.6;
}

.site-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site-header__link,
.site-header__link1,
.site-header__link2 {
  font-family: "Bitter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
  border-bottom: 4px solid transparent;
}
.site-header__link:hover,
.site-header__link1:hover,
.site-header__link2:hover {
  border-color: #f4ffad;
}
.site-header__link:active,
.site-header__link1:active,
.site-header__link2:active {
  border-color: rgb(244, 255, 173);
}

.site-header__link1 {
  padding-left: 27px;
  position: relative;
}
.site-header__link1::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background-image: url("../../img/fish.svg");
  background-size: contain;
  background-repeat: no-repeat;
  top: 0;
  bottom: 0;
  margin: auto 0;
  left: 0;
}

.site-header__link2 {
  position: relative;
  padding-left: 20px;
}
.site-header__link2::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  border: 2px solid rgb(51, 51, 51);
  border-radius: 50%;
  top: 0;
  bottom: 0;
  margin: auto 0;
  left: 0;
}

.list__wrapper {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-header__btn {
  font-family: "Bitter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
  padding-left: 27px;
  position: relative;
}

.site-header__burger {
  display: none;
  width: 40px;
  height: 40px;
  background-image: url("../../img/burgr-btn.png");
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  background-color: transparent;
}

.site-header__btn::before {
  content: "";
  position: absolute;
  background-image: url("../../img/trace.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 23px;
  height: 21px;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto 0;
}

.site-header__item:not(:first-child) {
  margin-left: 55px;
}

@media only screen and (max-width: 1370px) {
  .site-header__container {
    width: 100%;
  }
  .header-cap {
    display: none;
  }
}
@media only screen and (max-width: 1325px) {
  .list__wrapper {
    display: none;
  }
  .site-header__logo {
    position: relative;
    margin-top: 25px;
  }
  .site-header__burger {
    display: block;
    margin-left: 0;
  }
  .site-header__container {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.hero-container {
  margin-top: 8px;
  padding-bottom: 153px;
  background-image: url("../../img/hero-pet.png"), url("../../img/parrot.png");
  background-repeat: no-repeat;
  background-position: left top, right bottom;
  background-position-y: top, bottom;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-img {
  margin-top: 581px;
}

.hero__img {
  max-width: 600px;
  height: 570px;
  margin-top: -350px;
}

.hero-title {
  max-width: 680px;
  font-family: "Bitter";
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  line-height: 64px;
  color: #333333;
  margin-bottom: 29px;
}

.hero-span {
  color: rgb(120, 192, 222);
}

.hero-text {
  font-family: "Bitter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #949494;
  max-width: 596px;
  margin-bottom: 38px;
}

.hero-btn {
  background-color: #333333;
  border-radius: 3px;
  padding: 15px 48px 16px 47px;
  color: rgb(255, 255, 255);
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
}
.hero-btn:hover {
  background-color: rgb(255, 189, 84);
  color: #333333;
}
.hero-btn:active {
  opacity: 0.6;
}

@media only screen and (max-width: 1325px) {
  .hero-container {
    background-image: url("../"), url("../");
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0px;
    padding-top: 50px;
    text-align: center;
  }
  .hero-text {
    margin: 0 auto;
    margin-bottom: 25px;
  }
  .hero-img {
    margin-top: 300px;
  }
}
@media only screen and (max-width: 643px) {
  .hero-title {
    font-size: 55px;
    max-width: 600px;
  }
  .hero__img {
    height: 370px;
  }
}
@media only screen and (max-width: 500px) {
  .hero-title {
    font-size: 40px;
    line-height: 35px;
  }
}
.iqtibos__line {
  width: 140px;
  height: 1px;
  border: none;
  background-color: rgb(219, 219, 219);
  margin-bottom: 43px;
}

.iqtibos-container {
  margin-top: 200px;
}

.iqtibos__texts {
  text-align: center;
  background-image: url("../../img/iqtibos-img.png"), url("../../img/iqtibos-img2.png");
  background-repeat: no-repeat;
  background-position: top left, bottom right;
  background-position-x: 100px, 1200px;
}

.iqtibos__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #949494;
  max-width: 883px;
  margin: 0 auto;
  margin-bottom: 35px;
}

.iqtibos__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  font-family: "Bitter";
  margin-top: 35px;
}

@media only screen and (max-width: 1324px) {
  .iqtibos__texts {
    background-position: top left, bottom right;
  }
}
@media only screen and (max-width: 1052px) {
  .iqtibos__text {
    font-size: 15px;
    line-height: 20px;
    max-width: 570px;
  }
}
@media only screen and (max-width: 516px) {
  .iqtibos__text {
    font-size: 10px;
    line-height: 15px;
    max-width: 550px;
  }
}
.xizmatlar-container {
  margin-top: 191px;
}

.xizmatlar-title {
  text-align: center;
  font-family: "Bitter";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 54px;
  color: #333333;
  margin-bottom: 80px;
}

.xizmatlar-item__title {
  padding-top: 129px;
  position: relative;
  font-family: "Bitter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #333333;
  width: 126px;
}

.xizmatlar-item__title::before {
  content: "";
  position: absolute;
  width: 55px;
  height: 77px;
  background-image: url("../../img/doctor.svg");
  background-repeat: no-repeat;
  background-size: contain;
  top: -21px;
  bottom: 0;
  margin: auto 0;
  left: 35%;
}

.xizmatlar-item__title2::before {
  content: "";
  position: absolute;
  width: 55px;
  height: 77px;
  background-image: url("../../img/xizmatlar-img2.svg");
  background-repeat: no-repeat;
  background-size: contain;
  top: -21px;
  bottom: 0;
  margin: auto 0;
  left: 30%;
}

.xizmatlar-item__title3::before {
  content: "";
  position: absolute;
  width: 55px;
  height: 77px;
  background-image: url("../../img/xizmatlar-img3.svg");
  background-repeat: no-repeat;
  background-size: contain;
  top: -21px;
  bottom: 0;
  margin: auto 0;
  left: 30%;
}

.xizmatlar-item__title4 {
  padding-top: 150px;
}

.xizmatlar-item__title4::before {
  content: "";
  position: absolute;
  width: 55px;
  height: 77px;
  background-image: url("../../img/xizmatlar-img4.svg");
  background-repeat: no-repeat;
  background-size: contain;
  top: -21px;
  bottom: 0;
  margin: auto 0;
  left: 30%;
}

.xizmatlar-item__title5::before {
  content: "";
  position: absolute;
  width: 55px;
  height: 77px;
  background-image: url("../../img/xizmatlar-img5.svg");
  background-repeat: no-repeat;
  background-size: contain;
  top: -21px;
  bottom: 0;
  margin: auto 0;
  left: 30%;
}

.xizmatlar-item__title6 {
  padding-top: 150px;
}

.xizmatlar-item__title6::before {
  content: "";
  position: absolute;
  width: 55px;
  height: 77px;
  background-image: url("../../img/xizmatlar-img6.svg");
  background-repeat: no-repeat;
  background-size: contain;
  top: -21px;
  bottom: 0;
  margin: auto 0;
  left: 30%;
}

.xizmatlar-list__item {
  background-color: #ffffff;
  border-radius: 5px 5px 0px 0px;
  display: inline-block;
  padding: 0px 43px 42px 35px;
  cursor: pointer;
}
.xizmatlar-list__item:hover {
  background-color: rgb(243, 243, 243);
}
.xizmatlar-list__item:active {
  opacity: 0.6;
}

.xizmatlar-list {
  padding-left: 24px;
  padding-right: 24px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.xizmatlar-list::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 26px;
  background-image: url("../../img/Vector.svg");
  background-repeat: no-repeat;
  background-size: contain;
  left: 0;
  cursor: pointer;
}

.xizmatlar-list::after {
  cursor: pointer;
  content: "";
  position: absolute;
  width: 14px;
  height: 26px;
  background-image: url("../../img/Vector2.svg");
  background-repeat: no-repeat;
  background-size: contain;
  right: 0;
}

.xizmatlar-banner {
  padding: 42px 105px 43px 27px;
  background-color: #ffffff;
  border-radius: 0px 5px 5px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.xizmatlar-banner__img {
  padding: 213px;
  background-image: url("../../img/xizmatlar-bg.png");
  background-repeat: no-repeat;
  border-radius: 5px;
  margin-top: 42px;
}

.xizmatlar-banner__title {
  color: rgb(51, 51, 51);
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 20px;
  font-family: "Bitter";
  margin-bottom: 18px;
}

.xizmatlar-banner__text {
  font-family: "Bitter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #949494;
  max-width: 580px;
  margin-bottom: 9px;
}

.xizmatlar__btn {
  background-color: #ffbd54;
  color: white;
  padding: 15px 36px 16px 63px;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  border-radius: 3px;
  background-image: url("../img/money.svg");
  background-repeat: no-repeat;
  background-size: 22px;
  background-position-x: 25px;
  background-position-y: center;
  margin-top: 34px;
  margin-right: 21px;
}
.xizmatlar__btn:hover {
  color: rgb(51, 51, 51);
}
.xizmatlar__btn:active {
  opacity: 0.6;
}

.xizmatlar__btn2 {
  background-color: #333333;
  border-radius: 3px;
  padding: 14px 37px 14px 64px;
  color: white;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  background-image: url("../img/document.svg");
  background-repeat: no-repeat;
  background-size: 21px;
  background-position-x: 30px;
  background-position-y: center;
}
.xizmatlar__btn2:hover {
  color: #ffbd54;
}
.xizmatlar__btn2:active {
  opacity: 0.6;
}

@media only screen and (max-width: 1360px) {
  .xizmatlar-list::after,
.xizmatlar-list::before {
    display: none;
  }
  .xizmatlar-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 20px;
  }
}
@media only screen and (max-width: 1300px) {
  .xizmatlar-banner {
    display: block;
    padding: 0;
    text-align: center;
  }
  .xizmatlar-banner__img {
    max-width: 100%;
    height: 332px;
    padding: 0;
    background-size: cover;
    margin-bottom: 50px;
  }
  .xizmatlar-banner__text {
    margin: 0 auto;
    margin-bottom: 9px;
  }
}
@media only screen and (max-width: 525px) {
  .xizmatlar-banner__text {
    font-size: 13px;
  }
  .xizmatlar__btn {
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 385px) {
  .xizmatlar-banner__title {
    font-size: 30px;
    line-height: 35px;
  }
}
.obuna-box {
  margin-top: 235px;
  padding: 90px 0px 88px 287px;
  background-image: url("../../img/obuna-bg.png");
  background-repeat: no-repeat;
  position: relative;
}

.obuna-box__title {
  font-family: "Bitter";
  font-weight: 700;
  font-size: 48px;
  line-height: 20px;
  color: #ffffff;
  margin-bottom: 32px;
}

.obuna__input {
  width: 335px;
  height: 50px;
  padding-left: 22px;
  background-color: #ffffff;
  border-radius: 5px;
  border: 2px solid transparent;
  color: #949494;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  outline: none;
}
.obuna__input:focus {
  border-color: rgb(255, 189, 84);
}

.obuna__btn {
  width: 188px;
  height: 50px;
  background-color: #333333;
  border-radius: 3px;
  color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
  margin-left: 21px;
}

.obuna-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.obuna-img {
  position: absolute;
  max-width: 613px;
  height: 481px;
  top: -120px;
  right: 0;
}

@media only screen and (max-width: 1304px) {
  .obuna-img {
    display: none;
  }
  .obuna-box {
    text-align: center;
    padding-left: 0;
  }
  .obuna-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media only screen and (max-width: 741px) {
  .obuna-box__title {
    font-size: 35px;
    line-height: 25px;
  }
  .obuna-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .obuna__btn {
    margin-left: 0px;
    margin-top: 20px;
  }
}
@media only screen and (max-width: 741px) {
  .obuna-box__title {
    font-size: 30px;
    line-height: 30px;
  }
  .obuna__input {
    max-width: 298px;
    padding: 0;
  }
}
.maqolalar-conatiner {
  margin-top: 216px;
}

.maqolalar-container__title {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 20px;
  color: #333333;
  text-align: center;
}

.maqolalar-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 80px;
}

.maqolalar-list__item {
  padding: 180px 22px 38px 30px;
  background-image: url("../../img/maqolalar-img.png");
  background-repeat: no-repeat;
  border-radius: 5px 5px 0px 0px;
  background-color: rgb(254, 254, 254);
  background-size: contain;
  border: 1px solid #e4e4e2;
}

.maqolalar-list__item2 {
  margin: 0 24px;
}

.maqolalar-item__date {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #949494;
  margin-left: 212px;
  margin-top: 41px;
  margin-bottom: 2px;
}

.maqolalar-item__title {
  font-style: normal;
  font-weight: 800;
  font-size: 22px;
  line-height: 25px;
  color: #000000;
  max-width: 190px;
  margin-top: 12px;
  margin-bottom: 10px;
}

.maqolalar-item__text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #949494;
  max-width: 294px;
  margin-bottom: 34px;
}

.maqolalar-link {
  position: relative;
  padding-left: 28px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
}
.maqolalar-link:hover {
  color: #ffbd54;
}
.maqolalar-link:active {
  color: #333333;
  opacity: 0.6;
}

.maqolalar-link::before {
  position: absolute;
  content: "";
  width: 23px;
  height: 21px;
  left: 0;
  background-image: url("../../img/trace.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.maqolalar-list__item3 {
  background-image: url("../../img/maqolalar-img3.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.maqolalar-list__item2 {
  background-color: rgb(255, 255, 255);
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  max-width: 640px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.maqolalar-img {
  width: 250px;
  height: 510px;
  background-image: url("../../img/maqolalar-img2.png");
  background-size: cover;
  background-position-x: -30px;
  background-repeat: no-repeat;
}

.maqolalar-box {
  padding-left: 31px;
  padding-right: 31px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.hashtag {
  font-family: "Bitter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #3d9cea;
}

.hashtag:not(:first-child) {
  margin-left: 8px;
}

.maqolalar-hashtags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 42px;
}

.hashtag-2 {
  margin: 0;
  margin-left: auto;
}

.maqolalar-wrapper {
  margin-top: 32px;
}

@media only screen and (max-width: 1310px) {
  .maqolalar-container__title {
    font-size: 40px;
    line-height: 30px;
  }
  .maqolalar-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 50px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .maqolalar-list__item {
    width: 325px;
    margin: 0 auto;
  }
  .maqolalar-list__item2 {
    margin: 0 auto;
  }
}
@media only screen and (max-width: 625px) {
  .maqolalar-list__item2 {
    max-width: 360px;
    margin: 0 auto;
    padding-bottom: 38px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .maqolalar-img {
    display: none;
  }
}
.kontakt-container {
  margin-top: 262px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.kontakt-box {
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
  background-color: rgb(51, 51, 51);
  background-image: url("../../img/kontakt-img.png"), url("../../img/kontakt-img2.png"), url("../../img/kontakt-img3.png"), url("../../img/kontakt-img4.png"), url("../../img/Question.png"), url("../../img/Feedback.png"), url("../../img/kontakt-img5.png"), url("../../img/kontakt-img6.png"), url("../../img/kontakt-img7.png"), url("../../img/fish-bg.png");
  background-repeat: no-repeat;
  background-position-y: 356px, center, 71px, 71px, 31px, 120px, 200px, 380px, 370px, 90px;
  background-position-x: 15px, 45px, 75px, 520px, 650px, 450px, 670px, 390px, 750px, right;
  padding-bottom: 71px;
}

.kontakt__title {
  font-family: "Bitter";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 62px;
  color: #ffffff;
}

.kontakt-texs {
  margin-top: 62px;
  margin-left: 185px;
}

.kontakt__text {
  font-family: "Bitter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #949494;
  margin: 0;
  max-width: 454px;
  margin-top: 16px;
  margin-bottom: 29px;
}

.kontakt__input {
  display: block;
  height: 50px;
  width: 375px;
  padding-left: 22px;
  border: 2px solid transparent;
  outline: none;
  margin-bottom: 14px;
  font-family: "Bitter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}
.kontakt__input:focus {
  border: 2px solid #ffbd54;
}

.kontakt__text-area {
  height: 165px;
  margin-bottom: 30px;
}

.kontakt__btn {
  background-color: #ffbd54;
  color: white;
  font-family: "Bitter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  width: 226px;
  height: 50px;
  border: none;
}
.kontakt__btn:hover {
  color: rgb(51, 51, 51);
}

@media only screen and (max-width: 1390px) {
  .kontakt-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .kontackt-iframe {
    width: 100%;
  }
}
@media only screen and (max-width: 1046px) {
  .kontakt-box {
    background-image: url("../../img/kontakt-img.png"), url("../../img/kontakt-img2.png"), url("../../img/kontakt-img3.png"), url("../../img/kontakt-img4.png"), url("../../img/Question.png"), url("../../img/Feedback.png"), url("../../img/kontakt-img5.png"), url("../../img/kontakt-img6.png"), url("../../img/kontakt-img7.png"), url("../");
  }
  .kontakt-texs {
    text-align: center;
    margin: 0 auto;
  }
  .kontakt__text,
.kontakt__input {
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (max-width: 425px) {
  .kontakt__title {
    font-size: 35px;
  }
  .kontakt__input {
    width: 300px;
  }
}
footer {
  background-color: #f3f3f3;
}

.footer-container {
  padding: 54px 0px 23px 0px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 247px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-logo:hover {
  opacity: 0.8;
}
.footer-logo:active {
  opacity: 0.6;
}

.footer-logo__img {
  width: 158px;
  height: 77px;
}

.footer-item__link {
  font-family: "Bitter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
}
.footer-item__link:hover {
  color: #ffbd54;
}
.footer-item__link:active {
  color: #333333;
  opacity: 0.6;
}

.footer__date {
  padding-left: 25px;
}

.footer-info {
  display: block;
  width: 100%;
  text-align: right;
  font-family: "Bitter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #5c5c5c;
  margin-top: 63px;
}

@media only screen and (max-width: 1050px) {
  .footer-list2 {
    display: none;
  }
}
@media only screen and (max-width: 488px) {
  .footer-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .footer-list {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .footer-item {
    margin-bottom: 0px;
  }
  .footer-info {
    text-align: center;
  }
  .footer-logo {
    margin-bottom: 63px;
  }
}/*# sourceMappingURL=main.css.map */