.hero-container {
  margin-top: 8px;
  padding-bottom: 153px;
  background-image: url("../../img/hero-pet.png"), url("../../img/parrot.png");
  background-repeat: no-repeat;
  background-position: left top, right bottom;
  background-position-y: top, bottom;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero-img {
  margin-top: 581px;
}
.hero__img {
  max-width: 600px;
  height: 570px;
  margin-top: -350px;
}
.hero-title {
  max-width: 680px;
  @include hero-title;
  margin-bottom: 29px;
}
.hero-span {
  color: rgba(120, 192, 222, 1);
}
.hero-text {
  @include hero-text;
  max-width: 596px;
  margin-bottom: 38px;
}
.hero-btn {
  @include hero-btn;
}

@media only screen and (max-width: 1325px) {
  .hero-container {
    background-image: url("../"), url("../");
    flex-direction: column;
    padding: 0px;
    padding-top: 50px;
    text-align: center;
  }
  .hero-text {
    margin: 0 auto;
    margin-bottom: 25px;
  }
  .hero-img {
    margin-top: 300px;
  }
}
@media only screen and (max-width: 643px) {
  .hero-title {
    font-size: 55px;
    max-width: 600px;
  }
  .hero__img {
    height: 370px;
  }
}
@media only screen and (max-width: 500px) {
  .hero-title {
    font-size: 40px;
    line-height: 35px;
  }
}
